@page "/NavMenu.razor"

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Queue Click</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="#">דף הבית <span class="sr-only">(current)</span></a>@*Host*@
     <NavLink class="nav-item nav-link active" href="/Counter.razor">אודות</NavLink>@*Features*@
      <a class="nav-item nav-link active" href="#">שיניים ורפואת שניים</a> @*Pricing*@
      <a class="nav-item nav-link active" href="#">עזרה דחופה</a>
      <img src='file:///C:/%D7%9E%D7%99%D7%9B%D7%9C%20%D7%A4%D7%A8%D7%98%D7%99/%D7%A4%D7%A8%D7%95%D7%99%D7%99%D7%A7%D7%98%20%D7%A1%D7%95%D7%A3%20%D7%A9%D7%A0%D7%94/Project_Michal_Hodaya/Michal_Hodaya/Project_Qeue/LOGOMERPATSHNYME.png'width="100" height="100" alt="Shphrir logo"  />

    </div>
  </div>
</nav>

